@import 'bootstrap.css';
@import 'bootstrap-reboot.css';
@import 'bootstrap-grid.css';


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    position: relative;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* FONTS FOR LOGO */
/* -------------- */
@font-face {
    font-family: 'BEYNO';
    src: local('BEYNO'), url('../fonts/BEYNO.ttf') format('ttf'), url('../fonts/BEYNO.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: #777171;
}
#section1, #section2, #section3, #section4 {
    background-color: #fff;
}
#section1 {
    position: relative; 
}

/* HEADER and MENU */
/* ------ */
header {
    min-height: 70px;
    background-color: #ffffff;
}
.header_area {
    z-index: 100;
}
.wrapper {
    margin: 0 auto;
    padding: 0 15px 0 15px;
    width: 100%;
    max-width: 1170px;
}
.header .wrapper {
    min-height: 70px;
}
.logo {
    font-size: 30px;
    font-family: "BEYNO", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    line-height: 0.8;
    padding-top: 19px;
    text-decoration: none;
}
.logo:hover {
    text-decoration: none;
}
.menu {
    min-height: 70px;
    line-height: 70px;
    padding: 0 20px 0 0;
}
.menu a {
    font-family: 'Lato', sans-serif;
    color: black;
    text-decoration: none;
    /* height: 50px; */
    /* padding-top: 19px; */
}
.menu li:hover {
    font-weight: bold;
}
.dropdown-toggle::after {
    display: none;
}
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}
.dropdown-menu {
    top: 70px;
    width: max-content;
    left: 0;
    z-index: 1000;
    float: left;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 0.9rem;
    font-weight: normal;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: rgba(0,0,0,.65);
    background-clip: padding-box;
    border-top: 2px solid #fff200;
    border-radius: 0rem;
    line-height: 35px;
}
.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}
.dropdown-menu li > a {
    font-weight: normal !important;
}
.dropdown-content {
    padding: 15px 0 15px 15px;
    
}
.dropdown-content li {
    padding-right: 30px;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.navbar-nav > .nav-item {
    padding: 0 30px 0 30px;
}
.nav-item.active {
    font-weight: bold;
}
.nav-tabs .dropdown-menu,
.nav-pills .dropdown-menu,
.navbar .dropdown-menu {
    margin-top: 0;
}
.active_underlined {
    font-weight: bold;
}
.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
    font-weight: normal !important;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}
.navbar-toggler {
    padding: 20px 0 0 0;
}
.navbar-toggler:focus {
    outline: none;
}
.light a {
    color: white;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
}
.light a:hover {
    color: #fff200;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
}
.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
    z-index: 1;
}
.sprite-chevron_right {
    width: 24px;
    height: 24px;
    position: relative;
    top: 8px;
    left: 3px;
    background-position: -5px -5px;
    zoom:0.8;
    transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform-origin: 0 0;
    -moz-transform-origin: 0 0;
}
.light {
    font-weight: normal;
}
.light a:hover .sprite-chevron_right {
    width: 24px;
    height: 24px;
    background-position: -39px -5px;
}
.search-form {
    height: 31px;
    width: 180px;
}
.form-control-header {
    border-radius: 0;
    background-color: #e8e4f1;
    border: 0px;
    height: 31px;
}
.form-control-header:focus {
    background-color: #e8e4f1;
    box-shadow: none;
}
.fa-search {
    color: #585858;
    position: relative;
    float: right;
    top: -25px;
    right: 29px;
    zoom: 0.90;
    -moz-transform: scale(0.90);
    -moz-transform-origin: 0 0;
}

/* CAROUSEL */
/* -------- */
.carousel {
    max-height: 860px;
    padding-top: 70px;
    position: relative;
}
.carousel-control-prev, .carousel-control-next {
    width: 10%;
    padding-top: 70px;
}
.carousel-control-prev-icon {
    background-image: url("../img/carousel-control-prev-icon.png");
    width: 60px;
    height: 60px;
}
.carousel-control-next-icon {
    background-image: url("../img/carousel-control-prev-icon.png");
    width: 60px;
    height: 60px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.first-slide {
    height: 790px;
    position: relative;
    margin: 0 auto;
}
.carousel-caption {
    position: absolute;
    width: 70%;
    top: 35%;
    right: 15%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}
.carousel-caption h1 {
    font-family: 'Lato';
    color: #fff;
    font-size: 61px;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 0.35rem;
}
.carousel-caption p {
    font-family: 'Lato';
    color: #fff;
    padding: 28px 0 0 0;
    line-height: 1.9;
}
.carousel-indicators li {
    margin-bottom: 30px;
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 7px;
    height: 7px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-radius: 50%;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity 0.6s ease;
}
.carousel-indicators li:hover {
    opacity: .9;
}
.carousel-indicators .active {
    opacity: .9;
}

/* WHY CHOOSE US */
/* ------------- */
.heading {
    position: relative;
}
.heading h2 {
    padding: 109px 0 0 0;
    font-size: 37px;
    font-family: 'Lato';
    font-weight: bold;
    letter-spacing: 1px;
}
.heading p {
    padding: 25px 0 0 0;
    color: #999999;
    line-height: 1.4;
    font-family: 'Lato';
}
.benef-container {
    padding: 40px 0 48px 0;
}
.benef-block {
    border: 1px solid #ebebeb;
    padding-top: -25px;
    height: 269px;
    width: 200px;
    margin: 0 auto;
    display: block;
}
.benef-block-icon {
    height: 120px;
    width: auto;
    position: relative;
}
.benef-block-icon img {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.benef-block-description {
    width: auto;
    height: 147px;
}
.benef-block-description-cover {
    width: auto;
    height: 147px;
    position: relative;
    bottom: 0;
    left: 0;
    display: none;
    background-color: #503392;
}
.handler p {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    position: absolute;
    padding-top: 32px;
    left: 50%;
    transform: translate(-50%, 0);
}
.handler a:hover {
    color: yellow;
}
.benef-block:hover .benef-block-description-cover {
    display: block;
}
.benef-block:hover .benef-block-description {
    display: none;
}
.icon-box {
    position: absolute;
    padding-top: 65px;
    left: 50%;
    transform: translate(-50%, 0);
}

/* BENEFITS COVER BLOCKS ICONS */
/* --------------------------- */
.sprite2 {
    background-image: url(../img/spritesheet2.png);
    background-repeat: no-repeat;
    display: inline-block;
    z-index: 1000;
}
.sprite2-brows-icon-light {
    width: 45px;
    height: 45px;
    background-position: -60px -5px;
}
.sprite2-brows-icon-light:hover {
    background-position: -5px -5px;
}
.sprite2-link-icon-light {
    width: 45px;
    height: 45px;
    background-position: -60px -60px;
}
.sprite2-link-icon-light:hover {
    background-position: -5px -60px;
}

/* BENEFITS DESCRIPTION */
/* -------------------- */
.benef-block-description h3 {
    font-family: 'Lato';
    padding: 23px 0 0 0;
    font-weight: bold;
    font-size: 14px;
    
}  
.benef-block-description p {
    padding: 22px 0 0 0;
    color: #999999;
    line-height: 1.3;
    font-family: 'Lato';
    font-size: 14px;
}

/* ABOUT US */
/* -------- */
.text-description {
    position: relative;
    width: 100%;
    padding-bottom: 70px;
}
.text-description p {
    padding: 22px 0 0 0;
    color: #000000;
    line-height: 1.7;
    font-family: 'Lato';
    font-size: 14px;
}
.progress {
    display: -ms-flexbox;
    display: flex;
    height: 9px;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #fff;
    border-radius: 0;
    border: 1px solid #dddddd;
    padding: 2px;
    margin: 4px 0 0 0;
}
.progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #009dda;
    transition: width 0.6s ease;
    height: 3px;    
}
.progress-bar-container {
    padding: 0 0 35px 0;
}
.progress-bar-container p {
    color: #444444;
    line-height: 1.7;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: bold;
}
.aboutus-img {
    zoom: 1;
    transform: scale(1);
    -moz-transform: scale(1);
    transform-origin: 0 0;
    -moz-transform-origin: 0 0;
}

/* CONTACTS */
/* -------- */
#map {
    position: absolute;
    min-height: 634px;
    width: 100%;
}
.map-container {
    position: relative;
    height: auto;
    width: 100%;
    min-height: 634px;
    top: 0;
    left: 0;
    margin-top: 36px;
}
.cover {
    position: relative;
    width: 100%;
    min-height: 634px;
    height: auto;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.137);
}
.contact-block {
    position: relative;
    margin: 100px 0 100px 0;
    padding: 83px 0 81px 0;
    /* min-height: 500px; */
    background-color: rgb(26, 26, 26, 0.53);
}
.about-us-block {
    padding-bottom: 40px;
}
.form-group input {
    background: transparent;
    border: 1px solid #b0b0b0;
    height: 50px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #b7b7b7;
    border-radius: 0;
}
.form-group input:active {
    background: transparent;
    border: 1px solid #b0b0b0;
}
.form-group input:focus {
    background: transparent;
    border: 1px solid #b0b0b0;
    color: #e9e9e9;
}
.form-group textarea {
    background: transparent;
    border: 1px solid #b0b0b0;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #b7b7b7;
    border-radius: 0;
}
.form-group textarea:active {
    background: transparent;
    border: 1px solid #b0b0b0;
}
.form-group textarea:focus {
    background: transparent;
    border: 1px solid #b0b0b0;
    color: #e9e9e9;
}


/* STYLES FOR CUSTOM CHECKBOX */
.checkbox {
    display: flex;
    align-items: center;
}
.checkbox input[type="checkbox"] {
    display: none;
}

.checkbox input[type="checkbox"]:checked ~ .custom-checkbox:after {
    background-color: #ffff00;
}
.custom-checkbox {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    margin:  0 20px 0 0;
    border: 1px solid #b0b0b0;
}
.custom-checkbox:hover {
    cursor: pointer;
}
.custom-checkbox:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    transition: all linear .3s;
}
.checkbox-text {
    font-family: 'Lato', sans-serif;
}
.form-control-contacts {
    padding: 0.375rem 1rem;
}
.form-check {
    position: relative;
    display: block;
    padding-left: 0px;
    margin-left: 0px;
    color: #b0b0b0;
}
.btn-custom {
    color: #000;
    background-color: #ffff00;
    border: none;
    border-radius: 0;
    font-family: 'Lato', sans-serif;
    height: 50px;
    width: 120px;
}
.btn-custom:hover {
    color: #000;
    background-color: #ffee00;
    border-color: #ffee00;
}
.btn-custom:focus, .btn-custom.focus {
    box-shadow: 0 0 0 0 #ffee00;
}
.btn-custom.disabled, .btn-custom:disabled {
    color: #fff;
    background-color: #ffee00;
    border-color: #ffee00;
}
.btn-custom:not(:disabled):not(.disabled):active, .btn-custom:not(:disabled):not(.disabled).active,
.show > .btn-custom.dropdown-toggle {
    color: #fff;
    background-color: #ffee00;
    border-color: #ffee00;
}
.btn-custom:not(:disabled):not(.disabled):active:focus, .btn-custom:not(:disabled):not(.disabled).active:focus,
.show > .btn-custom.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 #ffee00;
}
.contacts {
    position: relative;
    width: auto;
    
}
.contacts p {
    color: #f3f3f3;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
}
.social-block {
    position: relative;
    /* margin: 0 30px 0 0; */
}
.social-block li {
    display: inline-block;
    margin: 0 0 0 10px;

}
.twitter {
    background-image: url(../img/twitter.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 25px;
    height: 25px;
}
.google {
    background-image: url(../img/google.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 25px;
    height: 25px;
}
.facebook {
    background-image: url(../img/facebook.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 25px;
    height: 25px;
}
.dribble {
    background-image: url(../img/dribble.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 25px;
    height: 25px;
}
footer {
    position: relative;
    min-height: 61px;
    height: auto;
    width: 100%;
    background-color: #1a1a1a;
    vertical-align: middle;
}

/* Media for responsive */
/* -------------------- */

@media (max-width: 1440px) {
    .carousel, .carousel-inner, .carousel-item {
        max-height: 625px;
        overflow: hidden;
    }
    .ie10 .carousel, .ie10 .carousel-inner {
        max-height: 625px;
        overflow: hidden;
    }
    _:-ms-lang(x), .carousel, .carousel-inner {
        max-height: 625px;
        overflow: hidden;
    }
}

@media (max-width: 1023px) {
    .dropdown-menu {
        top: 70px;
        width: max-content;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        padding: .5rem 0;
        margin: 0 0 0 0;
        font-size: 1rem;
        color: #212529;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 0px solid #fff200;
        border-radius: 0rem;
        line-height: 35px;
    }
    .dropdown-menu li:hover .sub-menu {
        visibility: visible;
        position:  relative;
        left: 0px;
    }
    .search-form {
        width: auto;
    }
    .sprite-chevron_right {
        background-position: -5px -39px;
    }
    .light a {
        color: black;
        font-weight: normal; 
    }
    .carousel-caption {
        top: 28%;
    }
    .contacts {
        text-align: center;
        padding-top: 10px;
    }
    .custom-checkbox {
        margin:  0 10px 0 0;
    }
    .contact-block {
        padding: 15px 0 15px 0;
    }
    #map {
        position: absolute;
        height: 734px;
        width: 100%;
    }
    
}
@media (max-width: 767px) {
    .carousel-caption {
        top: 25%;
    }
    .sprite-chevron_right {
        background-position: -5px -39px;
    }
    .light a {
        color: black; 
    }
    .contacts {
        text-align: center;
    }
    .custom-checkbox {
        margin:  0 10px 0 0;
    }
    .contact-block {
        padding: 15px 0 15px 0;
    }
    #map {
        position: absolute;
        height: 800px;
        width: 100%;
    }
    .ie10 .aboutus-img {
        zoom: 0.95;
        transform: scale(0.9);
        -moz-transform: scale(0.9);
        transform-origin: 0 0;
        -moz-transform-origin: 0 0;
    }
    .ie10 .carousel-control-prev-icon {
        background-image: url("../img/carousel-control-prev-icon.png");
        width: 30px;
        height: 60px;
    }
    .ie10 .carousel-control-next-icon {
        background-image: url("../img/carousel-control-prev-icon.png");
        width: 30px;
        height: 60px;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    _:-ms-lang(x), .aboutus-img {
        zoom: 0.95;
        transform: scale(0.9);
        -moz-transform: scale(0.9);
        transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        padding: 0 0 0 5%;
    }
    _:-ms-lang(x), .aboutus-img img {
        margin: 0 auto;
    }
}

@media (max-width: 526px) {
    footer {
        height: auto;
    }
    .copyright {
        margin: 0 auto;
    }
    .copyright p {
        text-align: center;
    }
    .social-block {
        margin: 0 auto;
        padding-bottom: 10px;
    }
}
@media (max-width: 494px) {
    .carousel-caption h1 {
        font-size: 35px;
    }
    #map {
        height: 800px;
        width: 100%;
    }
    .checkbox-text {
        font-size: 12px;
    }
    .ie10 .carousel-control-prev-icon {
        background-image: url("../img/carousel-control-prev-icon.png");
        width: 20px;
        height: 60px;
    }
    .ie10 .carousel-control-next-icon {
        background-image: url("../img/carousel-control-prev-icon.png");
        width: 20px;
        height: 60px;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    .ie10 .copyright {
        max-width: 100%;
    }
}


/* Internet Explorer 10+, Microsoft Edge Browser */
/* --------------------------------------------- */
_:-ms-lang(x), .dropdown-menu > .nav-item {
    padding-right: 0px;
}
_:-ms-lang(x), .contact-block {
    background-color: rgba(0, 0, 0, 0.411);
}

/* Internet Explorer 10 ONLY */
/* ------------------------- */
.ie10 .fa-search {
    top: -23px;
}
.ie10 .aboutus-img {
    zoom: 1.0;
    transform: scale(1.0);
    -moz-transform: scale(1.0);
    transform-origin: 0 0;
    -moz-transform-origin: 0 0;
}

/* Firefox ONLY */
/* ------------ */
@-moz-document url-prefix() { 
    #map {
       height: 649px;
    }
    @media (max-width: 1440px) {
        .carousel, .carousel-inner {
            max-height: 775px;
            overflow: hidden;
        }
    }
    @media (max-width: 1023px) {
        .dropdown-menu li:hover .sub-menu {
            visibility: visible;
            position:  relative;
            left: 15px;
        }
        #map {
            height: 751px;
        }
        .carousel-caption {
            top: 28%;
        }
    }
    @media (max-width: 767px) {
        #map {
            height: 817px;
        }
        .carousel-caption {
            top: 25%;
        }
    }
    @media (max-width: 375px) {
        .carousel-caption {
            top: 18%;
        }
        .carousel, .carousel-inner {
            max-height: 690px;
            overflow: hidden;
        }
    }
}




